<!-- <header id="myH" id="app-header" ></header> -->
<!-- <app-directives></app-directives> -->
<!-- <app-components></app-components> -->
<!-- <app-switch-component></app-switch-component> -->
<!-- <app-product-list></app-product-list>

<div appDirectiveExample>test</div>
<div appDirectiveExample><app-custom-directive-example></app-custom-directive-example>
</div> -->

<!-- <app-table-component></app-table-component> -->

<app-template-interpolation></app-template-interpolation>
<app-data-bindings-labs></app-data-bindings-labs>
<hr>
<app-parent-component></app-parent-component>
<hr>
<app-product-list></app-product-list>
<!-- <footer class="app-footer"></footer> -->